body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
}

.logo-title-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
}

.title {
    margin-left: 20px;
}

nav ul a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li, a {
    color: #fff;
    text-decoration: none;
}

.img {
    width: 150px;
    /*height: 150px;*/
    /*background-size: cover;*/
}

article {
    background-color: #ffffff;
    margin-left: 3%;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

article:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

article a {
    text-decoration: none;
    color: #333;
}

article h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

article div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
    border-radius: 5px;
}

h2 {
    font-family: "Berlin Sans FB", serif;
    font-size: 35px;
    color: #333;
    text-align: center;
}

h1 {
    font-family: "bauhaus 93", sans-serif;
    font-size: 40px;
    color: #ffffff;
}

section:focus, article:focus {
    outline: 4px dashed orange;
}

nav:focus {
    outline: 4px dashed #b700ff;
}

a:focus {
    outline: 4px dashed #0059ff;
}






